.popup__close-button {
    width: 32px;
    height: 32px;
    top: -36px;
    right: -36px;
    position: absolute;
    background-image: url(../../../images/ClosePopupDesktop.svg);
}

.popup__close-button:hover {
    transition: opacity .5s ease;
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 510px) {
    .popup__close-button {
        right: 0;
        top: -36px;
    }
}

@media screen and (max-width: 440px) {
    .popup__close-button {
        background-image: url(../../../images/ClosePopupMobile.svg);
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }
}