.profile {
    display: flex;
    max-height: 120px;
    height: 100%;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        justify-content: center;
    }
}