.add-button {
    border: 1px solid white;
    max-width: 150px;
    width: 100%;
    height: 50px;
    background-image: url(../../images/addPlusButtonDesktop.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 320px) {
    .add-button {
        background-image: url(../../images/addPlusButtonMobile.svg);
        margin-top: 36px;
        max-width: 282px;
    }
}