.popup__error {
  display: block;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  min-height: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  max-width: 358px;
  color: #FF0000;
  margin: 0;
  margin-top: 5px;
  padding:0 37px;
  }