.footer__copyright {
    margin-top: 67px;
    color: #545454;
    font-size: 18px;
    line-height: 1.21;
}

@media screen and (max-width: 440px) {
    .footer__copyright {
        margin-top: 48px;
        font-size: 14px;
        margin-left: 19px;
    }
}
