.popup__close-button {
    width: 32px;
    height: 32px;
    top: -32px;
    right: -32px;
    position: absolute;
    background-image: url(../../../images/Close\ Icon.svg);
}

.popup__close-button:hover {
    transition: opacity .5s ease;
    opacity: 0.6;
    cursor: pointer;
}