.popup__button-submit {
    margin: 48px 36px 37px 36px;
    font-size: 18px;
    line-height: 1.21;
    font-weight: 400;
    background-color: #000;
    color: #fff;
    padding: 14px 124px 18px 125px;
    border-radius: 2px;
}

.popup__button-submit:hover {
    transition: opacity .5s ease;
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 320px) {
    .popup__button-submit{
        margin: 45px 22px 25px;
        font-size: 14px;
        padding-left: 82px;
        padding-right: 82px;
    }
}